page-need-view {

    .backgroundSetter{
        background-color: color($colors, light-background);
    }

    .listClass{
        margin-right: 10%;
        margin-left: 10%;

        h2{
            font-size: 40px;
        }
    }
    
    span{
        color: white;
        font-size: 25px;
    }

    #categoryItem
    {
        text-align: center;
        font-size: 200%;
    }
    #menuButton
    {
        display: block;
        margin: auto;       
    }

    #subCategory
    {
        font-size: 80%;
    }
}
